<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
    <style>
    	body {
    		margin: 0;
            padding: 0;
    	}
        canvas {
            width: 800px;
            height: 600px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<canvas id='client'></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>

var canvas = document.getElementById('client');
	canvas.style.width = window.innerWidth + 'px';
	canvas.style.height = window.innerHeight + 'px';

var socket = io(location.origin);

var stage = new createjs.Stage("client");
    stage.canvas.width = window.innerWidth;
    stage.canvas.height = window.innerHeight;

var size = [canvas.width/3,canvas.height/3];
var coords = [
    [0,             0,          size[0]-2,    size[1]-2],
    [size[0]+2,     0,          size[0]-4,    size[1]-2],
    [size[0]*2+2,   0,          size[0]-4,    size[1]-2],
    [0,             size[1]+2,  size[0]-2,    size[1]-4],
    [size[0]+2,     size[1]+2,  size[0]-4,    size[1]-4],
    [size[0]*2+2,   size[1]+2,  size[0]-4,    size[1]-4],
    [0,             size[1]*2+2,size[0]-2,    size[1]-2],
    [size[0]+2,     size[1]*2+2,size[0]-4,    size[1]-2],
    [size[0]*2+2,   size[1]*2+2,size[0]-4,    size[1]-2]
];

var grid = new createjs.Shape();
    grid.graphics.setStrokeStyle(1).beginStroke('rgba(0,0,0,1)');
    grid.graphics.moveTo(canvas.width/3, 0);
    grid.graphics.lineTo(canvas.width/3, canvas.height);
    grid.graphics.moveTo(canvas.width*2/3, 0);
    grid.graphics.lineTo(canvas.width*2/3, canvas.height);
    grid.graphics.moveTo(0, canvas.height/3);
    grid.graphics.lineTo(canvas.width, canvas.height/3);
    grid.graphics.moveTo(0, canvas.height*2/3);
    grid.graphics.lineTo(canvas.width, canvas.height*2/3);
    grid.graphics.endStroke();
    stage.addChild(grid);

    createjs.Touch.enable(stage);
    stage.update();
var shapes = [];
for (var i = 0; i < coords.length; i++) {
        shapes.push(new createjs.Shape());
        shapes[i].graphics.beginFill("green").drawRect(coords[i][0], coords[i][1], coords[i][2], coords[i][3]);
        stage.addChild(shapes[i]);
    };

stage.update();

stage.on("click", function(evt) {
    alert(evt.target);
});
</script>
</body>
</html>
