<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
    <style>
        canvas {
            width: 800px;
            height: 600px;
        }
    </style>
</head>
<body>
<div>Client window -> <a href="/22" target="_blank">Server window</a></div>
<canvas id='canvas'></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    let socket = io(location.origin);
    let stage = new createjs.Stage("canvas");
    stage.canvas.width = 800;
    stage.canvas.height = 600;

    var color  = '#'+(Math.random()*0xFFFFFF<<0).toString(16);

    var circle = new createjs.Shape();
    circle.graphics.beginFill(color).drawCircle(0, 0, 10);
    circle.x = 400;
    circle.y = 300;

    stage.addChild(circle);
    circle.on("pressmove", function(evt) {
        evt.target.x = evt.stageX;
        evt.target.y = evt.stageY;

        stage.update();
        socket.emit('circlexy_send', {x: circle.x, y:circle.y, color:color});
    });
    stage.update();
</script>
</body>
</html>
