<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21</title>
    <style>
        canvas {
            width: 800px;
            height: 600px;
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <div>Server window -> <a href="/22/mr" target="_blank">Client</a></div>
<canvas id='canvas'></canvas>

<div style="display:inline-block;" id="client"><a onclick="loadClient();" href="#">Show client!</a></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    let socket = io(location.origin);
    let stage = new createjs.Stage("canvas");
    stage.canvas.width = 800;
    stage.canvas.height = 600;
    
    socket.on('circlexy_listen', function (data) {
        console.log(data);
        stage.removeAllChildren();
        for (let key in data) {
            var circle = new createjs.Shape();
            circle.graphics.beginFill(data[key].color).drawCircle(0, 0, 10);
            circle.x = data[key].x;
            circle.y = data[key].y;
            stage.addChild(circle);
        }
        setTimeout(function () {
            stage.update();
        }, 1)
    });
    function loadClient() {
        var client = document.getElementById('client');
        client.innerHTML = '<iframe src="http://localhost:8081/22/mr" width="884" height="650"></iframe>';
        return false;
    }
</script>
</body>
</html>
