<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21</title>
    <% include ../../partials/bootstrap.ejs %>
    <style>
        canvas {
            outline: 1px solid black;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/">на главную</a>
            <a href="/21/controllers" style="float: right">к контроллерам</a>
        </div>
        <div class="panel-body">
            <canvas id='canvas'></canvas>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    let socket = io(location.origin);
    let stage = new createjs.Stage("canvas");
    socket.on('21_command_listen', function (data) {
        console.log(data);
        stage.removeAllChildren();
        for (let key in data) {
            let bitmap = new createjs.Bitmap("/img/pacman.png");
            bitmap.scaleX = 0.3;
            bitmap.scaleY = 0.3;
            bitmap.x = data[key].x;
            bitmap.y = data[key].y;
            stage.addChild(bitmap);
        }
        setTimeout(function () {
            stage.update();
        }, 1000)
    });
</script>
</body>
</html>
